#main {
  margin: 0;
  padding: 0.8rem;
  box-sizing: border-box;
  display: grid;
  grid-gap: 3rem;
  height: 98vh;
  font-size: 1.5rem;
  overflow: hidden;

  #display {
    height: 100%;
    grid-area: 1 / 1 / span 1 / span 5;
    background-color: rgba(211, 211, 211, 0.521);
    border-radius: 5px;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #004276;
    font-size: 2.5rem;
    border: none;
    outline: none;
  }

  #integers {
    grid-area: 2 / 1 / span 2 / span 3;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
  }

  #operators {
    grid-area: 2 / 4 / span 2 / span 2;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);

    #equal {
      grid-area: 3 / 1 / span 1 / span 2;
    }
  }
}
